[submodule "bundles/aoe4-map-selector"]
	path = bundles/aoe4-map-selector
	url = https://github.com/RisingEmpires/aoe4-map-selector
[submodule "bundles/caster-manager"]
	path = bundles/caster-manager
	url = https://github.com/RisingEmpires/caster-manager
[submodule "bundles/aoe-4-civ-draft"]
	path = bundles/aoe-4-civ-draft
	url = https://github.com/RisingEmpires/aoe-4-civ-draft
[submodule "bundles/score-display"]
	path = bundles/score-display
	url = https://github.com/RisingEmpires/aoe4-score-display
[submodule "bundles/aoe-4-team-games"]
	path = bundles/aoe-4-team-games
	url = https://github.com/RisingEmpires/aoe-4-team-games
